body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
}
.box{
  display: flex;
  margin-top: 40px;
}
.infoBox {
  border: 1px solid;
  float: right;
  width: 300px;
  background-color: rgb(234, 234, 234);
}

.infoBox td{
    padding-left: 20px;
    padding-top: 10px;
}
.infoBox img{
  margin-left: 40px;
}
.infoBox h3{
  text-align: center;
}
.infoBox caption{
  text-align: center;
}
